<header class="header header-transparent">
  <div class="container-fluid">
    <!-- Brand-->
    <div class="inner-header"><a class="inner-brand" href="index.html">WebSítios</a></div>
    <!-- Navigation-->
    <div class="inner-navigation collapse">
      <div class="inner-nav">
        <ul>
          <li><a [routerLink]="['/home']"><span class="menu-item-span">Home</span></a></li>
          <li><a [routerLink]="['/sitios']"><span class="menu-item-span">Sítios</span></a></li>
          <li><a [routerLink]="['/buscaAvancada']"><span class="menu-item-span">Busca Avançada</span></a></li>
          <li><a [routerLink]="['/anuncie']"><span class="menu-item-span">Anuncie Aqui</span></a></li>
          <li><a [routerLink]="['/contato']"><span class="menu-item-span">Contato</span></a></li>
          <li><a [routerLink]="['/login']"><span class="menu-item-span">Login</span></a></li>
        </ul>
      </div>
    </div>
    <div class="extra-nav">
      <ul>
        <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span
              class="menu-item-span"><i class="ti-menu"></i></span></a></li>
      </ul>
    </div>
  </div>
</header>
