  <div class="wrapper">
    <!-- Hero-->
    <section class="module-cover parallax text-center fullscreen" data-background="assets/images/main/banner.jpg"
      data-overlay="0.6" style="background-image: none; z-index: 0;"
      data-jarallax-original-styles="background-image: url(assets/images/main/banner.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Os melhores sítios <br> em um só lugar.</strong></h1>
            <p><a class="btn btn-lg btn-circle btn-brand" [routerLink]="['/buscaAvancada']">PROCURAR</a></p>
          </div>
        </div>
      </div>
      <div class="overlay-background" style="opacity: 0.6;"></div>
      <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;http://associacaoclean.com.br/WebSitios/assets/images/main/banner.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1903px; height: 937px; overflow: hidden; pointer-events: none; margin-top: 0px; transform: translate3d(0px, 0px, 0px);"></div></div>
    </section>


    <section class="module p-t-30 p-b-30">

      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <app-item-sitio src="assets/images/main/sitio_1.jpg" titulo="Sitio 1" subTitulo="Este sítio ..."
            link="http://www.google.com.br"></app-item-sitio>
        </ng-template>
        <ng-template carouselSlide>
          <app-item-sitio src="assets/images/main/sitio_2.jpg" titulo="Sitio 2" subTitulo="Este sítio ..."
            link="http://www.google.com.br"></app-item-sitio>
        </ng-template>
        <ng-template carouselSlide>
          <app-item-sitio src="assets/images/main/sitio_3.jpg" titulo="Sitio 3" subTitulo="Este sítio ..."
            link="http://www.google.com.br"></app-item-sitio>
        </ng-template>

        <ng-template carouselSlide>
          <app-item-sitio src="assets/images/main/sitio_4.jpg" titulo="Sitio 4" subTitulo="Este sítio ..."
            link="http://www.google.com.br"></app-item-sitio>
        </ng-template>
        <ng-template carouselSlide>
          <app-item-sitio src="assets/images/main/sitio_5.jpg" titulo="Sitio 5" subTitulo="Este sítio ..."
            link="http://www.google.com.br"></app-item-sitio>
        </ng-template>
        <ng-template carouselSlide>
          <app-item-sitio src="assets/images/main/sitio_6.jpg" titulo="Sitio 6" subTitulo="Este sítio ..."
            link="http://www.google.com.br"></app-item-sitio>
        </ng-template>
      </owl-carousel-o>

      <!--       <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div> -->
    </section>


    <!-- About-->
    <section class="module divider-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
            <h1>Veja como é fácil alugar um sítio</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon-box-icon"><span class="ti-layout"></span></div>
              <div class="icon-box-title">
                <h6>PROCURE</h6>
              </div>
              <div class="icon-box-content">
                <p>Defina o seu destino e as datas de sua viagem! Encontre o imóvel ideal entre os nossos mais de 1
                  milhão de anúncios disponíveis ao redor do mundo. Para agilizar, recomendamos que entre em contato com
                  mais de um imóvel.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon-box-icon"><span class="ti-image"></span></div>
              <div class="icon-box-title">
                <h6>FAÇA SUA RESERVA</h6>
              </div>
              <div class="icon-box-content">
                <p>Hora de fechar a reserva! Negocie diretamente com o proprietário ou administrador, escolha a forma de
                  pagamento para a sua reserva e assine o contrato.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon-box-icon"><span class="ti-archive"></span></div>
              <div class="icon-box-title">
                <h6>APROVEIRA A ESTADIA</h6>
              </div>
              <div class="icon-box-content">
                <p>Você está pronto para se divertir! Sinta-se totalmente de férias e aproveite o conforto, o espaço e
                  momentos inesquecíveis.</p>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section>
    <!-- About end-->

    <!-- Footer-->
    <app-footer></app-footer>

  </div>

  <a class="scroll-top scroll-top-visible" href="#top"><i class="fas fa-angle-up"></i></a>
